@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #9c9696;
    font-family: 'Kalam', cursive;
    margin: 0;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
}


.key{
    display: inline-flex;
    border: 1px solid rgb(0, 0, 0);
    padding:10px;
    position:relative;
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 2px, 2px, 2px, rgba(0,0,0,0.1);
    margin:10px 10px;
    min-width: 150px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 236, 236);
    border-radius: 10px;
    cursor: pointer;
}

.key small {
    position:absolute;
    top: -35px;
    left: 0px;
    width:100%;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 17px;
}


.key:hover {
    background-color: rgb(230, 221, 223);
    box-shadow: 0 3px 10px rgb(0 0 0 / 1.2);
    transition: all 0.2s ease-in;
}



/*for small phone*/


@media only screen and (max-device-width: 480px) {
    body {
        width: 400px;
    }

    .key{

        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px;;
    }
    .key small{
     
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 15px;
    }
}
